:root {
    --header-background-color: #96a2af;
    --font-color: #093141;
    --body-background-color: #f0ead6;
    --title-background-color: rgb(121, 169, 185);
}

html { 
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*comment comment comment*/
    background-color: var(--body-background-color);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-color);   
}
/* HEADER CSS */
header {
    padding: 20px 25px;
    background-color: var(--header-background-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--font-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--font-color);
}

/* HEADER NAV BAR CSS */
header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* UTILITY CSS*/
.flex-row {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.section-title {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 46px;
    border-right: 4px solid var(--font-color);
    text-align: right;
    float: left;
    
}

.content {
    width: 60%;
}

.flex-row {
    width: 30%;
}

/* ABOUT-ME CSS */
.about-me {
    display: flex;
    flex-direction: row;
}

.about-me article {
    padding-left: 8px;
    padding-right: 8px;
    margin: auto;
    width: 60%;
}

/* PROJECTS CSS */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.projects h2 {
    flex: 1 30%;
}

.project {
    align-items: center;
    border: var(--title-background-color)
}

.project-title {
    background-color: var(--title-background-color);

}

/* CONTACT-INFO CSS */
.contact-info {
    display: flex;
    flex-direction: row;
    margin: 7px 0;
}

.contact-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.contact-info ul li {
    padding: 10px 15px;
    border-bottom: 4px solid var(--font-color);
}

/* FOOTER CSS */
footer {
    background-color: var(--body-background-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}